body {
  /* background-image: url("./Assets/Nairobi\ Edited\ \(Image\ Trace\ 2\)-01.jpg");
  background-size: 1300px;
  background-repeat: no-repeat; */
  /* background-position: 0px 65px;
  background-color: #cd0303; */
  background-color: #fffefd;
}

#mainnav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  /* background-color: #CDEDF6; */
  align-items: center;
}

.navmenu {
  margin: 0px 0px;
  align-items: center;
  padding: 4px 10px;
}

.navitems {
  text-decoration: none;
  color: #05299e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17.5px;
  margin: 10px 30px;
}

#mainbutton {
  background-color: #05299e;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-size: 16px;
  border: none;
  border-radius: 7.4px;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 30px;
  filter: drop-shadow(0.1px 0.1px 0.5px #000000);
}

#gamepreview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
}

#maincontent {
  display: block;
  margin: 60px 50px 50px 50px;
  /* background-color: red; */
  width: 55%;
}

.line {
  width: 500px;
  height: 2px;
  border-radius: 100%;
  border-color: none;
  background-color: #bb0000;
}

#tagline {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  font-size: 50px;
  font-style: italic;
  color: #05299e;
}
#discountbtn {
  background-color: #bb0000;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  font-size: 16px;
  border: none;
  border-radius: 70px;
  padding: 12.5px 30px;
  margin: 20px auto;
  filter: drop-shadow(0.1px 0.1px 0.5px #000000);
  font-weight: bold;
}
#cards {
  height: 400px;
  margin: 0px 50px;

  /* background-color: rgb(0, 255, 42); */
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 0px;
}
.sublineleft {
  height: 5px;
  background-color: #05299e;
  border: none;
  width: 100px;
  border-radius: 200% 0px 0px 200%;
  margin: 20px;
  margin-top: 0px;
}

.sublineright {
  height: 5px;
  background-color: #05299e;
  border: none;
  width: 100px;
  border-radius: 0px 200% 200% 0px;
  margin: 20px;
  margin-top: 0px;
}

h3 {
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #05299e;
  font-size: 25px;
  padding: 15px;
  border-radius: 75px 0px;
  text-align: center;
  width: 375px;
  margin-top: 0px;
}
.subparagraphs {
  font-size: 20px;
  font-style: italic;
  margin: 0px 250px;
}
.btn {
  background-color: #bb0000;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  font-size: 16px;
  border: none;
  border-radius: 70px;
  padding: 12.5px 30px;
  margin: 50px auto 20px;
  filter: drop-shadow(0.1px 0.1px 0.5px #000000);
}
.featuredImages{
  width: 350px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h2 {
  text-align: center;
  color: #333;
}

form {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"] {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: #05299e;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #05299e;
}